<!--{*
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2011 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
*}-->
<font size=1>
[emoji:75]
<a href="<!--{$smarty.const.ROOT_URLPATH}-->products/index.php?<!--{$smarty.const.SID}-->">ご購入ページ</a><br>
└WEBにてご注文されたい方はｺﾁﾗ<br>
<br>
[emoji:74]
<a href="<!--{$smarty.const.ROOT_URLPATH}-->contact/index.php?<!--{$smarty.const.SID}-->">お電話で注文</a><br>
└お電話にてご注文されたい方はｺﾁﾗ<br>
<br>
[emoji:70]
<a href="<!--{$smarty.const.ROOT_URLPATH}-->guide/order.php?<!--{$smarty.const.SID}-->">ご注文ｶﾞｲﾄﾞ</a><br>
└ご注文･お支払･配送方法について
</font>
