@charset "UTF-8";
/*
 * cmn_layout.css
 *
 *  version --- 1.0
 *  updated --- 2012/3/30
 */


/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ",Meiryo,'ＭＳ Ｐゴシック',Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	line-height: 1.7;
	color: #000;
}

body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top; max-width: 100%;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ /* outline: none; */ }
abbr, acronym
{ border: 0;}


/* !Base Fonts
---------------------------------------------------------- */
a {
	color:#000;
	text-decoration: underline;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}

a:hover {
	text-decoration: none;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}

.op img,
.op input {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;	
}
.op:hover img,
.op:hover input {
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.fwn { font-weight: normal;}
.fwb { font-weight: bold;}
.fs10   { font-size: 10px;}
.fs11   { font-size: 11px;}
.fs12   { font-size: 12px;}
.fs13   { font-size: 13px;}
.fs14   { font-size: 14px;}
.fs15   { font-size: 15px;}
.fs16   { font-size: 16px;}
.fs17   { font-size: 17px;}
.fs18   { font-size: 18px;}
.fs19   { font-size: 19px;}
.fs20   { font-size: 20px;}
.fs21   { font-size: 21px;}
.fs22   { font-size: 22px;}
.fs23   { font-size: 23px;}
.fs24   { font-size: 24px;}
.fs25   { font-size: 25px;}

/* !color
---------------------------------------------------------- */
.fcred,.fcred a {
	color:#ff0000;
}
.fcblue,.fcblue a {
	color:#187ec3;
}

.fcred a,.fcblue a {
	text-decoration:underline;
}
.fcred a:hover,.fcblue a:hover {
	text-decoration:none;
}

.fcpink,.fcpink a {
	color:#eb6c65;
}

.fcgray {
	color:#999;
}

/* !inline Align
---------------------------------------------------------- */
.tal { text-align: left   !important;}
.tac { text-align: center !important;}
.tar { text-align: right  !important;}
.vat { vertical-align: top    !important;}
.vam { vertical-align: middle !important;}
.vab { vertical-align: bottom !important;}

/* !Width
---------------------------------------------------------- */
.w-max   { width: 100% !important;}
.w05per { width: 5%  !important;}
.w10per { width: 10% !important;}
.w15per { width: 15% !important;}
.w20per { width: 20% !important;}
.w25per { width: 25% !important;}
.w30per { width: 30% !important;}
.w35per { width: 35% !important;}
.w40per { width: 40% !important;}
.w45per { width: 45% !important;}
.w50per { width: 50% !important;}
.w55per { width: 55% !important;}
.w60per { width: 60% !important;}
.w65per { width: 65% !important;}
.w70per { width: 70% !important;}
.w75per { width: 75% !important;}
.w80per { width: 80% !important;}
.w85per { width: 85% !important;}
.w90per { width: 90% !important;}
.w95per { width: 95% !important;}

.w150 { width:150px !important;}
.w200 { width:200px !important;}
/* !Floats
---------------------------------------------------------- */
.flL    { display: inline; float: left;}
.flR    { display: inline; float: right;}
.ftBox  { overflow: hidden; *zoom: 1;}

/* !Tools
---------------------------------------------------------- */
.clear { clear: both;}
.block { display: block !important;}
.hide  { display: none !important;}

/* !h(n)eading
---------------------------------------------------------- */
.hdl {
	border:1px #ccc solid;
	font-size:18px;
	padding:15px;
	margin-bottom:20px;
}
@media screen and (max-width: 767px) {
.hdl {
	font-size:16px;
	padding:10px;
}
}
@media screen and (max-width: 959px) {
.hdl-plus {
	position:relative;
}
.hdl-plus:before {
	background: url(../img/common/ico_open.png) 0 0 no-repeat;
	width:30px;
	height:30px;
	right:15px;
	top:50%;
	transform: translate(0,-50%);
	content:"";
	z-index:2;
	position:absolute;
}
.hdl-plus.on:before {
	background: url(../img/common/ico_close.png) 0 0 no-repeat;
	width:30px;
	height:30px;
}
}
@media screen and (max-width: 479px) {
.hdl-plus:before {
	background:url(../img/common/ico_open.png) 0 0 no-repeat;
	background-size:100%;
	width:20px;
	height:20px;
	right:15px;
	top:50%;
	transform: translate(0,-50%);
	content:"";
	z-index:2;
	position:absolute;
}
.hdl-plus.on:before {
	background:url(../img/common/ico_close.png) 0 0 no-repeat;
	background-size:100%;
	width:20px;
	height:20px;
}
}


/* !btn
---------------------------------------------------------- */
.combtn-twocolumn {
	max-width:720px;
	margin:0 auto;
}
.combtn-twocolumn ul {
	margin-left:-35px;
}
.combtn-onecolumn li {
margin: 0 auto;
	width:50%;
	padding-left:35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.combtn-twocolumn li {
	float:left;
	width:50%;
	padding-left:35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.combtn-twocolumn li.flR {
	float: right;
}
.input-submit {
	width:100%;
	padding:20px 0;
	cursor:pointer;
	font-size:16px;
	line-height:1;
	background: -moz-linear-gradient(top, #e7e7e7, #c3c3c3);
	background: -webkit-gradient(linear, top, from(#e7e7e7), to(#c3c3c3));
	background: -webkit-linear-gradient(top, #e7e7e7, #c3c3c3);
	background: -o-linear-gradient(top, #e7e7e7, #c3c3c3);
	background: -ms-linear-gradient(top, #e7e7e7, #c3c3c3);
	-pie-background: linear-gradient(top, #e7e7e7, #c3c3c3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url(../PIE.htc);
	border:1px solid #ededed;
	box-sizing:border-box;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}
a.input-submit {
	display:block;
	text-align:center;
	text-decoration:none;
}
.input-button {
	width:100%;
	padding:18px 0;
	line-height:1;
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	border:3px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	cursor: pointer;
	color: #000000;
}
.input-submit:hover,.input-button:hover {
	opacity:0.7;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
	-webkit-transition: all 0.5s !important; /* Chrome&Safari */
}
@media screen and (max-width: 767px) {
.combtn-twocolumn {
	max-width:100%;
	margin:0 auto;
	padding:0 20px;
}
.combtn-twocolumn ul {
	margin-left:0;
}
.combtn-twocolumn li {
	float:none;
	width:100%;
	padding-left:0;
}
.combtn-twocolumn li+li {
 padding-top:30px;
}

.combtn-onecolumn li {
margin: 0 auto;
	width:90%;
	padding-left:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.input-submit {
	padding:40px 0;
	width: 100%;
}

.input-submit.deliv {
		padding:20px 0;
}

.input-submit.pass {
	padding:40px 0;
	width: 100%;
}
.input-button {
	padding:38px 0;
}
}

.agree-no {
	display:block;
	text-align:center;
	margin-top:25px;
}
.agree-no a {
	font-size:16px;
	display:inline-block;
}

.combtn-top {
	margin-top:90px;
}
@media screen and (max-width: 767px) {
.combtn-top {
	margin-top:40px;
}
}


/* !note
---------------------------------------------------------- */
.com-note li {
	text-indent:-1rem;
	padding-left:1rem;
}


/* !Table
---------------------------------------------------------- */
.com-table01 {
	width:100%;
	border-left:1px #b9b9c8 solid;
	border-top:1px #b9b9c8 solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.com-table01 th ,.com-table01 td {
	border-right:1px #b9b9c8 solid;
	border-bottom:1px #b9b9c8 solid;
	background:#fff;
	padding:15px 20px;
	vertical-align:middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.com-table01 th {
	background:#ebebeb;
}
@media screen and (max-width: 767px) {
.com-table01 th ,.com-table01 td {
	padding:15px 10px;
}
}

.com-table02 {
	width:100%;
}
.com-table02 th ,.com-table02 td {
	background:url(../img/common/line_table02.png) 0 bottom repeat-x;
	vertical-align:top;
	padding:15px 10px;
	font-size:16px;
}
@media screen and (max-width: 959px) {
.com-table02 th ,.com-table02 td {
	background:none;
	border-bottom:1px #ccc solid;
	vertical-align:top;
	padding:15px 10px;
}
}


/* !Section
---------------------------------------------------------- */
.section+.section {
	margin-top:50px;
}
@media screen and (max-width: 767px) {
.section+.section {
	margin-top:30px;
}
}

/* !Margin
---------------------------------------------------------- */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mt55 { margin-top:55px !important;}
.mt60 { margin-top:60px !important;}
.mt65 { margin-top:65px !important;}
.mt70 { margin-top:70px !important;}
.mt75 { margin-top:75px !important;}
.mt80 { margin-top:80px !important;}
.mt85 { margin-top:85px !important;}
.mt90 { margin-top:90px !important;}
.mt95 { margin-top:95px !important;}
.mt100{ margin-top:100px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mr55 { margin-right:55px !important;}
.mr60 { margin-right:60px !important;}
.mr65 { margin-right:65px !important;}
.mr70 { margin-right:70px !important;}
.mr75 { margin-right:75px !important;}
.mr80 { margin-right:80px !important;}
.mr85 { margin-right:85px !important;}
.mr90 { margin-right:90px !important;}
.mr95 { margin-right:95px !important;}
.mr100{ margin-right:100px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.mb55 { margin-bottom:55px !important;}
.mb60 { margin-bottom:60px !important;}
.mb65 { margin-bottom:65px !important;}
.mb70 { margin-bottom:70px !important;}
.mb75 { margin-bottom:75px !important;}
.mb80 { margin-bottom:80px !important;}
.mb85 { margin-bottom:85px !important;}
.mb90 { margin-bottom:90px !important;}
.mb95 { margin-bottom:95px !important;}
.mb100{ margin-bottom:100px !important;}
.ml00 { margin-left: 0   !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}
.ml55 { margin-left:55px !important;}
.ml60 { margin-left:60px !important;}
.ml65 { margin-left:65px !important;}
.ml70 { margin-left:70px !important;}
.ml75 { margin-left:75px !important;}
.ml80 { margin-left:80px !important;}
.ml85 { margin-left:85px !important;}
.ml90 { margin-left:90px !important;}
.ml95 { margin-left:95px !important;}
.ml100{ margin-left:100px !important;}

/* !Padding
---------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pt55 { padding-top:55px !important;}
.pt60 { padding-top:60px !important;}
.pt65 { padding-top:65px !important;}
.pt70 { padding-top:70px !important;}
.pt75 { padding-top:75px !important;}
.pt80 { padding-top:80px !important;}
.pt85 { padding-top:85px !important;}
.pt90 { padding-top:90px !important;}
.pt95 { padding-top:95px !important;}
.pt100{ padding-top:100px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pr55 { padding-right:55px !important;}
.pr60 { padding-right:60px !important;}
.pr65 { padding-right:65px !important;}
.pr70 { padding-right:70px !important;}
.pr75 { padding-right:75px !important;}
.pr80 { padding-right:80px !important;}
.pr85 { padding-right:85px !important;}
.pr90 { padding-right:90px !important;}
.pr95 { padding-right:95px !important;}
.pr100{ padding-right:100px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pb55 { padding-bottom:55px !important;}
.pb60 { padding-bottom:60px !important;}
.pb65 { padding-bottom:65px !important;}
.pb70 { padding-bottom:70px !important;}
.pb75 { padding-bottom:75px !important;}
.pb80 { padding-bottom:80px !important;}
.pb85 { padding-bottom:85px !important;}
.pb90 { padding-bottom:90px !important;}
.pb95 { padding-bottom:95px !important;}
.pb100{ padding-bottom:100px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}
.pl55 { padding-left:55px !important;}
.pl60 { padding-left:60px !important;}
.pl65 { padding-left:65px !important;}
.pl70 { padding-left:70px !important;}
.pl75 { padding-left:75px !important;}
.pl80 { padding-left:80px !important;}
.pl85 { padding-left:85px !important;}
.pl90 { padding-left:90px !important;}
.pl95 { padding-left:95px !important;}
.pl100{ padding-left:100px !important;}


.visible-pc {
	display: block;
}
.visible-ts {
	display: none;
}
@media screen and (max-width: 959px) {
.visible-ts {
	display: block;
}
.visible-pc {
	display: none !important;
}
}


/* !Clearfix
---------------------------------------------------------- */
.clearfix {
	display: block;
	min-height: 1%;
}
.clearfix:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body {
	width: 100%;
	overflow: hidden;
}
@media print {
	html,
	html body { *zoom: 0.65;}
}

/* !wrapper
---------------------------------------------------------- */
#wrapper {
	background:#fff;
	min-width:320px;
	position: relative;

}
#wrapper.open:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	content: "";
}

@media screen and (max-width: 959px) {
#wrapper {
	overflow:hidden;
}
#wrapper .inner {
	padding:0 20px;
}
}

@media screen and (max-width: 479px) {
#wrapper .inner {
	padding:0 15px;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
}

/* !header
---------------------------------------------------------- */
#header {
	border-bottom:1px solid #ccc;
	position:relative;
}
@media screen and (max-width: 959px) {
#header {
	border-bottom: none;
}
}
.header-in {
	max-width:1100px;
	margin:0 auto;
}

.header-box {
	padding:7px 0 10px;
}
.header-logo {
	float:left;
	width:48%;
}
.header-logo dl {
	display:table;
	width:100%;
}
.header-logo dl dt {
	display:table-cell;
	width:62px;
}
.header-logo dl dd {
	display:table-cell;
	padding-left:16px;
	vertical-align:bottom;
	font-size:30px;
	line-height:1.3;
}
.header-logo dl dd a {
	text-decoration:none;
}
.header-area {
	float:right;
	width:52%;
	padding:32px 0 0;
}

.header-area .ic-move {
	position: relative;
	top: 4px;
}

.header-area .ic-move2 {
	position: relative;
	top: 2px;
	left: -2px;
}

img.cart-move {
	position: relative;
	left: -5px;
}

@media screen and (max-width: 959px) {
.header-box {
	padding-top:15px;
	padding-bottom:12px;
}

.header-logo {
	padding:0;
}
.header-logo dl {
	display:table;
	width:95%;
	margin: 0 auto;
}
.header-logo dl dt {
	display:table-cell;
	width:62px;
}

.header-logo dl dt img {
	position: relative;
	top: 10px;
}
.header-logo dl dd {
	display:table-cell;
	padding-left:16px;
	vertical-align: middle;
	font-size:30px;
	line-height:1.3;
}
.header-logo dl dd span {
	display:block;
	font-size:18px;
}

.header-area {
	float:right;
	width:40%;
	padding:20px 0 0;
}
}
@media screen and (max-width: 767px) {

	.header-logo {
		margin: 0 auto;
		position: absolute;
		top: -5px;
	}
.header-logo dl dt {
	display:table-cell;
	width:45px;
}
.header-logo dl dt img {

}
.header-logo dl dd {
	display:table-cell;
	padding-left:10px;
	vertical-align:middle;
	font-size:25px;
	line-height:1.3;
	position: relative;
	top: -4px;
}
.header-logo dl dd span {
	display:block;
	font-size:18px;
}

.header-logo dl dd span.big {
	display:block;
	font-size:30px !important;
}

#header .inner {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.header-area {
	clear: both;
	width:100%;
	padding:10px 20px 17px;
	border-bottom: 1px solid #ccc;
	-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.header-box {
	padding-bottom: 0px;

}
}
@media screen and (max-width: 479px) {
.header-logo dl dd span {
	font-size:18px;
	position: relative;
	top: 3px;
}
}
.header-list li {
	float:right;
	margin-right: 15px;
}
.header-list li img {
	margin-right:6px;
	    position: relative;
    top: -3px;
}
@media screen and (max-width: 959px) {
.header-list li img {
	margin-right:0;
}

input.logout {
-webkit-appearance: none;
background-color: white;
border: none;
}
}
.header-list li a {
	font-size:14px;
	color:#000;
	text-decoration:none;
}
.header-list li a:hover {
	text-decoration:none;
	opacity: 0.6;
}
.header-list li + li {
	margin-right:24px;
}

.header-txt01 {
	font-size:14px;
	margin:13px 0 0;
	text-align: right;
}

.header-search {
	width:166px;
	font-size:13px;
	padding:3px 5px;
	border:1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.headersp-search {
	position:absolute;
	top:100%;
	left:0;
	z-index:99;
	width:100%;
	display:none;
}
.search-box {
	background:#fff;
	padding:35px 25px 25px;
	position:relative;
}
.search-box:before {
	background:url(../img/common/shadow_menu.png) 0 0 no-repeat;
	background-size:100%;
	width:100%;
	height:17px;
	top:100%;
	left:0;
	content:"";
	z-index:2;
	position:absolute;
}
.search-input {
	float:left;
	width:77%;
}
.search-sumbit {
	float:right;
	width:20.5%;
}

.search-input input[type=text] {
	width:100%;
	height:40px;
	border:1px solid #999;
	padding: 10px 5px 10px 40px;
	background:url(../img/common/search_header.png) 10px center no-repeat;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.search-sumbit input[type=submit] {
	width:66px;
	height:40px;
	background:#999;
	font-size:13px;
	color:#fff;
	border: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.header-menu-box {
	border-bottom:1px solid #ccc;
	padding:8px 0 8px;
}
.header-menusp {
	width:auto;
}
.header-menusp dl {
	display:table;
	width:100%;
}
.header-menusp dl dt {
	display:table-cell;
	width:45px;
}
.header-menusp dl dt img {
	width:100%;
}
.header-menusp dl dd {
	display:table-cell;
	vertical-align: middle;
	text-align:right;
	font-size:12px;
}

/* !teaser
---------------------------------------------------------- */
#teaser {
	border-bottom:1px #ccc solid;
	width:100%;
}
#teaser .teaserin {
	max-width:1100px;
	margin:0 auto;
	position:relative;
}
#teaser .teaserin img {
	width:100%;
}
#teaser .teaser-h {
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	z-index:2;
	font-size:26px;
	line-height:1.4;
}
#teaser .teaser-h span {
	font-size:14px;
	display:block;
}
@media screen and (max-width: 959px) {
#teaser .teaser-h {
	position:absolute;
	left:30px;
	top:50%;
	transform:translate(0,-50%);
	z-index:2;
	font-size:26px;
	line-height:1.3;
}
}
@media screen and (max-width: 767px) {
#teaser .teaser-h {
	left:20px;
}
}
@media screen and (max-width: 479px) {
#teaser .teaser-h {
	font-size:20px;
}
}

#teaser-tit {
	border-bottom:1px #ccc solid;
}
#teaser-tit .teaser-titin {
	font-size:26px;
	padding:40px 0;
	max-width:1100px;
	margin:0 auto;
}
@media screen and (max-width: 959px) {
#teaser-tit {
	border-bottom:none;
}
#teaser-tit .teaser-titin {
	font-size:26px;
	padding:40px 30px 0;
	max-width:inherit;
	margin:auto;
	font-weight:bold;
}
}
@media screen and (max-width: 767px) {
#teaser-tit .teaser-titin {
	padding:20px 20px 0;
}
}
@media screen and (max-width: 479px) {
#teaser-tit .teaser-titin {
	font-size:20px;
}
}

/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
	font-size:12px;
	max-width:1100px;
	margin:10px auto 30px;
	text-align:right;
}
#breadcrumb span {
	display:inline-block;
	margin:0 5px;
}
@media screen and (max-width: 959px) {
#breadcrumb {
	display:none;
}
}

/* !contents
---------------------------------------------------------- */
#contents {
	max-width:1100px;
	margin:0 auto 100px;
}

@media screen and (max-width: 959px) {
#contents {
	max-width:inherit;
	margin:30px auto 50px;
}
}
@media screen and (max-width: 767px) {
#contents {
	max-width:inherit;
	margin:20px auto 50px;
}
}

#main {
	float:left;
	width:77%;
}

#side {
 float:right;
 width:18%;
}
#side .side-list li+li {
	margin-top:13px;
}
#side .side-list li a {
	display:block;
	padding:0 0 0 25px;
	font-size:16px;
	line-height:1.2;
	background:url(../img/common/arrow01.png) 0 2px no-repeat;
}
@media screen and (max-width: 959px) {
#main {
	float:none;
	width:100%;
}
#side {
	display:none;
}
}

/* !pagetop
---------------------------------------------------------- */
.pagetop {
	display:none;
	position:fixed;
	bottom:100px;
	right:20px;
	z-index:99999999;
}

.pagetop img.sp {
	display: none;
}

.pagetop img.pc {
	display: block;
}
@media screen and (max-width: 767px) {
.pagetop {
	position:fixed;
	bottom:80px;
	right:10px;
	z-index:99999999;
}

.pagetop img.sp {
	display: block;
}

.pagetop img.pc {
	display: none;
}
}

/* !footer
---------------------------------------------------------- */
#footer {
	clear: both;
}
.footer-area {
	clear: both;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:27px 0 23px;
}
@media screen and (max-width: 959px) {
.footer-area {
	border-top:none;
	border-bottom:none;
	padding:20px 0 0;
}
}


.footer-inner {
	max-width:1100px;
	margin:0 auto;
}
.footer-box {
	display:table;
	width:100%;
}
.footer-box dt {
	display:table-cell;
	text-align:center;
	width:11%;
}
.footer-box dd {
	display:table-cell;
	padding: 0 0 0 46px;
	vertical-align:middle;
}
.footer-in p + p {
	margin-top:8px;
}
.footer-txt01 {
	font-size:16px;
}
.footer-tel01 span {
	font-size:14px;
	display:inline-block;
	margin-left:20px;
position: relative;
top: -5px;
}
.footer-tel02 span {
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    margin-left: 20px;
    padding-top: 0;
    position: absolute;
    line-height: 1.6;
    margin-top: -25px;
}
.footer-txt02 {
	font-size:14px;
	color:#eb6c65;
}
.footer-txt03 {
}
.footer-txt03 a {
	color:#000;
	text-decoration:none;
}
.footer-txt03 a:hover {
	text-decoration:underline;
}
@media screen and (max-width: 959px) {
.footer-box {
	display: block;
	width:100%;
}
.footer-box dt {
	display: block;
	width:100%;
	text-align:center;
}
.footer-box dd {
	display: block;
	padding: 0;
	vertical-align:middle;
}
}
.footersp-txt01 {
	text-align:center;
	margin-top:15px;
	font-size:13px;
}

.footer-panel {
	font-size:16px;
	text-align:center;
	margin:10px auto;
	width: 88%;
	padding:13px 0px 15px;
	border:1px solid #e4e4e4;
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #fff, #e6e6e6);
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, top, from(#fff), to(#e6e6e6));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #fff, #e6e6e6);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #fff, #e6e6e6);
	/* IE9+ */
	background: -ms-linear-gradient(top, #fff, #e6e6e6);
	/* IE8 */
	-pie-background: linear-gradient(top, #fff, #e6e6e6);
}
.footer-panel p + p {
	margin-top:12px;
}

.footer-panel img {
	width: 80%;
}

.footersp-txt02 {
	font-size:12px;
	text-align:center;
}

.footer-link {
	margin:0 0 27px;
}
.footer-link > ul {
	border-top:1px solid #999;
}
.footer-link > ul > li {
	border-bottom:1px solid #999;
}
.footer-link > ul > li a {
	display:block;
	font-size:15px;
	padding:20px 0 20px 30px;
	color:#000;
	text-decoration:none;
	line-height:1.2;
	background:url(../img/common/arrow01.png) 13px center no-repeat;
}

#copyright {
	max-width:1100px;
	text-align:right;
	font-size:10px;
	margin:0 auto;
	padding:15px 0;
}
@media screen and (max-width: 959px) {
#copyright {
	max-width:inherit;
	text-align:center;
	margin:auto;
	padding:5px 0;
}
}

/* !sidemenu
---------------------------------------------------------- */
#sidebar {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	height:100%;
	z-index:9;
	display:none;
}
#sidebar .sidebar-area {
	position: absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 420px;
	height: 100%;
	left: 0;
	top: 0;
	background: #fff;
	color: #000;
	font-size: 14px;
	padding-top:40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 111111111;
}
#sidebar .sidebar-logout {
	max-width:65%;
	margin:0 auto;
}
#sidebar .sidebar-logout a {
	display:block;
	border:2px #d4d4d4 solid;
	background:#fff;
	text-decoration:none;
	font-size:16px;
	text-align:center;
	padding:10px 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 10px;
	behavior: url(../PIE.htc);
	position:relative;
}
#sidebar .sidebar-logout a:hover {
	opacity:0.7;
}
#sidebar .sidebar-box {
	width:100%;
	margin-top:35px;
}
#sidebar .sidebar-tit {
	background:#d2d2d2;
	font-size:16px;
	padding:20px 30px;
	cursor:pointer;
	margin-top:1px;
}
#sidebar .sidebar-list {
	display:none;
}
#sidebar .sidebar-list li a {
	display:block;
	padding:20px 30px;
	font-size:14px;
	text-decoration:none;
}
#sidebar .sidebar-list li a:hover {
	background:#888;
}

@media screen and (max-width: 959px) {
#sidebar .sidebar-area {
	width: 255px;
	padding-top:30px;
}
#sidebar .sidebar-logout {
	max-width:70%;
}
#sidebar .sidebar-logout a {
	border:2px #d4d4d4 solid;
	font-size:16px;
	padding:5px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
#sidebar .sidebar-box {
	margin-top:30px;
}
#sidebar .sidebar-tit {
	padding:10px 20px;
}
#sidebar .sidebar-list li a {
	padding:10px 20px;
}
}


/* !form-area
---------------------------------------------------------- */

#form-area input[type=text],#form-area input[type=password] {
	height:40px;
	padding:0 5px;
	border:1px #ccc solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#form-area area {
	border:1px #ccc solid;
	padding:0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#form-area select {
	border:1px #ccc solid;
	height:30px;
	font-size:12px;
	color:#000;
	padding:0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#form-area .form-bgred {

}
#form-area .form-date {
	overflow:hidden;
	margin-left:-15px;
}
#form-area .form-date li {
	float:left;
	width:30%;
	padding-left:15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#form-area .form-date input[type=text] {
	width: 100px;
	margin-right: 5px;
}
#form-area .form-date li select {
	width:75%;
	height:25px;
	margin-right:5px;
}

.zipimg {
	margin-top: 10px;
}
@media screen and (max-width: 959px) {
#form-area .form-date {
	overflow:hidden;
	margin:-10px 0 0 -10px;
}
#form-area .form-date li {
	float:left;
	width:50%;
	padding-left:10px;
	margin-top:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
}
#form-area .form-tel input {
	width:100px;
}
#form-area .form-tel span {
	margin:0 5px;
}


@media screen and (max-width: 767px) {
#form-area .form-tel input {
	width:23%;
}
#form-area .form-tel span {
	margin:0 3px;
}

}

#form-area .form-address input {
	width:100px;
	margin:0 5px;
}


@media screen and (max-width: 767px) {
#form-area .form-address input {
	width:25%;
	margin:0 5px;
}
}
@media screen and (max-width: 959px) {
#form-area .form-address .fcblue {
	display:block;
	margin-top:15px;
}
}




.no-border {
	border: none;
}

.img-container--flex-box {
 position: relative;
 width: 100px;
 height: 100px;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 }

 .img-container--flex-box img {
 vertical-align: middle;
 }


.header-in {
	position: relative;
}

@media screen and (max-width: 959px) {
#search_form {
	display: none;
}
}



@media screen and (min-width: 960px) {

#search_form {
	position: absolute;
	top: 40px;
	right: 300px;
}

}


.p-number {
	display: block;
	background-color: #FF9999;
	color: #fff;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	position: absolute;
    top: 32px;
    right: 232px;
    font-size: 95%;

}

.p-number.off {
	background-color: #ccc;
}

.p-number.ov100 {

font-size: 80%;
}

@media screen and (max-width: 959px) {
.p-number {
	display: block;
	background-color: #FF9999;
	color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	top: 18px;
	right: 19px;

}
}


/* 点滅 */
.blinking{
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}