<!-- ▼ロゴ ここから -->
<!--{assign var=logo_file value=$arrLogoFile.arrFile.shop_image.filepath|h}-->
<center><!--{if strlen($logo_file) > 0}--><img src="<!--{$logo_file}-->" alt="<!--{$arrSiteInfo.shop_name|h}-->"><!--{else}--><img src="<!--{$TPL_URLPATH}-->img/header/logo.gif" alt="<!--{$arrSiteInfo.shop_name|h}-->"><!--{/if}--></center>
<!-- ▲ロゴ ここまで -->
<br>
