<!--{*
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2011 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
*}-->

<link rel="stylesheet" type="text/css" href="<!--{$TPL_URLPATH}-->css/shopping.css" media="all" />

	<div id="contents">
				<div class="inner">
				
					<div class="visible-pc mt30">
						<ul class="dexpress-process-list clearfix">
							<li>お届け先の確認</li>
							<li>お支払い方法・お届け時間帯</li>
							<li>入力内容のご確認</li>
							<li class="on">完了</li>
						</ul>
					</div>
					<div class="finish-txt">
						<p>ご注文ありがとうございました。<br>商品到着をお楽しみにお待ちくださいませ。<br>どうぞ今後とも、<br class="visible-ts"><!--{$arrInfo.shop_name|h}-->をよろしくお願い致します。</p>

						<!--{if $arrOther.title.value|h}-->
						<!-- ▼その他の決済情報 -->
						<br>
						<br>
						■<!--{$arrOther.title.name}-->情報<br>
						<!--{foreach key=key item=item from=$arrOther}-->
						<!--{if $key != "title"}-->
						<!--{if $item.name != ""}--><!--{$item.name}-->：<!--{/if}--><!--{$item.value|nl2br}--><br>
						<!--{/if}-->
						<!--{/foreach}-->
						<br>
						<!-- ▲その他の決済情報 -->
						<!--{/if}-->
					</div>
				</div>
			</div><!-- /#contents -->
			
		</article>