<!--{*
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2011 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
*}-->
<font size=1>
当ｻｲﾄは､<!--{$arrSiteInfo.shop_name|h}-->をご利用いただいているお客様専用ｻｲﾄです｡過去に<!--{$arrSiteInfo.shop_name|h}-->にご来店もしくはお通いいただいていたお客様もご利用可能です｡詳しくは､<!--{$arrSiteInfo.shop_name|h}-->ｸﾗｲｱﾝﾄｻﾎﾟｰﾄﾃﾞｽｸまでお問い合わせくださいませ｡
<br />
<br />
<div align=center>
<table bgcolor="<!--{$arrColor2[$tpl_themeid]}-->">
<tr>
<td align=center bgcolor="<!--{$arrColor2[$tpl_themeid]}-->"><font size=1>[emoji:74] <!--{$arrSiteInfo.shop_name|h}-->ｸﾗｲｱﾝﾄｻﾎﾟｰﾄﾃﾞｽｸ</font></td>
</tr>
<tr>
<td bgcolor="white">
<font size=1>
電話番号
<a href="tel:<!--{$arrSiteInfo.tel01|h}--><!--{$arrSiteInfo.tel02|h}--><!--{$arrSiteInfo.tel03|h}-->"><!--{$arrSiteInfo.tel01|h}-->-<!--{$arrSiteInfo.tel02|h}-->-<!--{$arrSiteInfo.tel03|h}--></a><br />
Eﾒｰﾙ
<a href="mailto:<!--{$arrSiteInfo.email02|h}-->"><!--{$arrSiteInfo.email02|h}--></a><br />
<!--{if strlen($arrSiteInfo.business_hour) > 0}-->
受付時間:<!--{$arrSiteInfo.business_hour|h}--><br />
<!--{/if}-->
<!--{if strlen($tpl_holiday) > 0}-->
<!--{$tpl_holiday|h}--><br />
<!--{/if}-->
</center>
</font>
</td>
</tr>
</table></div></div>
</font>
